[Unit]
Description=Zeroframe Captive Portal
After=network.target

[Service]
User=root
WorkingDirectory=/home/zf/captive_portal
ExecStart=/usr/bin/sudo /usr/bin/python3 /home/zf/captive_portal/app.py
Restart=always
Environment=PATH=/usr/bin:/usr/local/bin

[Install]
WantedBy=multi-user.target
