[Unit]
Description=Splash Screen and Network Check
DefaultDependencies=no
Before=zf.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=startx /home/zf/.xinitrc-splash
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target