[Unit]
Description=Zeroframe Player
After=network.target

[Service]
Environment=DISPLAY=:0
Type=simple
Restart=no
ExecStart=/usr/bin/startx
User=zf

[Install]
WantedBy=multi-user.target